.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 50px;
}



.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

