.team-clean {
  color: #313437;
  background-color: #fff;
}

.team-clean p {
  color: #7d8285;
}

.team-clean h2 {
  font-weight: bold;
  padding-top: 40px;
  color: inherit;
  font-size: 36px;
}



.team-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-clean .intro p {
  font-size: 16px;
  max-width: 500px;
	font-style: italic;
	font-weight: 400;
	text-transform: none;
	font-family: Droid Serif,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.team-clean .people {
  padding-bottom: 40px;
}

.team-clean .item {
  text-align: center;
  padding-top: 50px;
}

.team-clean .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-clean .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-clean .item .description {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
	
}

.team-clean .item img {
  max-width: 160px;
}

.team-clean .social {
  font-size: 22px;
  color: #a2a8ae;
}

.team-clean .social a {
  color: inherit;
  margin: 0 5px;
  display: inline-block;
  opacity: 0.7;
}

.team-clean .social a:hover {
  opacity: 1;
}

